In [51]:
#importing the necessary libaries
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import Lasso

In [2]:
df = pd.read_csv('KAG_energydata_complete.csv')

In [3]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [6]:
df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the Root Mean Squared error in three D.P?

Options

In [7]:
#preparing the training data
x = df[['T2']]
y= df['T6']

In [8]:
#split your data into test and training data
x_train, x_test,y_train,y_test = train_test_split(x,y, test_size = 0.3, random_state = 42)

In [9]:
#apply model to Linear Regression
model = LinearRegression()

In [10]:
#fitting your model
model.fit(x_train,y_train)

LinearRegression()

In [11]:
#evaluation of model
y_pred = model.predict(x_test)

In [12]:
mse = mean_squared_error(y_test,y_pred)
r2 = r2_score(y_test, y_pred)

In [13]:
print(f"Slope : {round(model.coef_[0],2)}")
print(f"Intercept = {round(model.intercept_,2)}")
print(f"MSE = {round(mse,2)}")
print(f"r2_score = {r2}")

Slope : 2.23
Intercept = -37.37
MSE = 13.18
r2_score = 0.6427789637197382

In [14]:
rmse = np.sqrt(mse)

In [15]:
print(rmse)

3.630315129680444

Remove the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Normalize the dataset using the MinMaxScaler (Hint: Use the MinMaxScaler fit_transform and transform methods on the train and test set respectively). Run a multiple linear regression using the training set

In [20]:
x = df.drop(columns=['date','lights','Appliances'])
y= df['Appliances']

In [21]:
x

,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,55.200000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,55.200000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,55.090000,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,55.090000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,55.090000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,52.400000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,52.326667,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,52.266667,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,52.200000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,52.200000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [25]:
# Split the dataset into train and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [27]:
scaler = MinMaxScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [28]:
model = LinearRegression()
model.fit(x_train_scaled, y_train)

LinearRegression()

In [29]:
# making predictions
y_pred_train = model.predict(x_train_scaled)
y_pred_test = model.predict(x_test_scaled)

In [45]:
# calculating RMSE
rmse_train = mean_squared_error(y_train, y_pred_train, squared=False)
rmse_test = mean_squared_error(y_test, y_pred_test, squared=False)
mae_train = mean_absolute_error(y_train, y_pred_train)


print("Mean Absolute Error on training set:", round(mae_train, 3))
print("RMSE on training set:", round(rmse_train,3))
print("RMSE on test set:", round(rmse_test,3))

Mean Absolute Error on training set: 53.742
RMSE on training set: 95.216
RMSE on test set: 93.64

What is the Mean Absolute Error (in three decimal places) for the  training set?

In [39]:
print("Mean Absolute Error on training set:", round(mae_train, 3))

Mean Absolute Error on training set: 53.742

What is the Root Mean Squared Error (in three decimal places) for the training set?

In [40]:
print("RMSE on training set:", round(rmse_train,3))

RMSE on training set: 95.216

What is the Mean Absolute Error (in three decimal places) for test set?

In [41]:
print("RMSE on test set:", round(rmse_test,3))

RMSE on test set: 93.64

What is the Root Mean Squared Error (in three decimal places) for test set?

In [42]:
print("RMSE on test set:", round(rmse_test,3))

RMSE on test set: 93.64

Did the Model above overfit to the training set

It is slightly overfitting

Train a ridge regression model with default parameters. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [50]:
from sklearn.linear_model import Ridge

# Train the Ridge regression model
ridge_model = Ridge()
ridge_model.fit(x_train_scaled, y_train)

# Make predictions on the test set
y_pred_test_ridge = ridge_model.predict(x_test_scaled)

# Calculate RMSE for the Ridge regression model on the test set
rmse_test_ridge = mean_squared_error(y_test, y_pred_test_ridge, squared=False)

print("RMSE on test set (Ridge regression):", round(rmse_test_ridge, 3))
print('The RMSE for the Ridge regression model is only slightly higher than the RMSE,This suggests Ridge regression did not significantly improve the model')

RMSE on test set (Ridge regression): 93.709
The RMSE for the Ridge regression model is only slightly higher than the RMSE,This suggests Ridge regression did not significantly improve the model

Train a lasso regression model with default value and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [53]:
# Training the Lasso regression model
lasso_model = Lasso()
lasso_model.fit(x_train_scaled, y_train)

# Get the feature weights
feature_weights = lasso_model.coef_

# Print the feature weights
print("Feature weights:", feature_weights)
num_nonzero_features = sum(feature_weights != 0)

print("Number of features:", num_nonzero_features)

Feature weights: [  0.          56.94451601   0.          -0.           0.
   0.          -0.           0.          -0.           0.
   0.          -0.          -0.          -0.           0.
 -26.10288797  -0.          -0.           0.          -0.
 -50.29397595   5.14314792   0.          -0.          -0.
  -0.        ]
Number of features: 4

What is the new RMSE with the Lasso Regression on the test set?

In [54]:
# Make predictions on the test set using the Lasso regression model
y_pred_test_lasso = lasso_model.predict(x_test_scaled)

# Calculate RMSE for the Lasso regression model on the test set
rmse_test_lasso = mean_squared_error(y_test, y_pred_test_lasso, squared=False)

print("RMSE on test set (Lasso regression):", round(rmse_test_lasso, 3))

RMSE on test set (Lasso regression): 99.424